:root {
	--size: 4;
}

.sprite {
	display: block;
	position: absolute;
	width: calc(16px * var(--size));
	height: calc(16px * var(--size));

	background-image: url(./assets/sprites.png); 
	background-repeat: no-repeat;
	background-size: calc(96px * var(--size)) calc(112px * var(--size));
	image-rendering: pixelated;
}

.sprite.wall1 {
	background-position: 0 0;
}
.sprite.ground {
	background-position: calc(-48px * var(--size)) 0;
}
.sprite.stair {
	background-position: calc(-32px * var(--size)) 0;
}
.sprite.substair {
	background-position: calc(-16px * var(--size)) 0;
}

.sprite.player {
	background-position-x: 0;
	background-position-y: calc(-16px * var(--size));
}
.sprite.player.falling {
	background-position-x: calc(-80px * var(--size)) !important;
}
.sprite.player.walking-left:not(.falling), .sprite.player.walking-right:not(.falling) {
	animation: 0.3s infinite walk step-end;
}
.sprite.player.hurted-left, .sprite.player.hurted-right {
	background-position-x: calc(-64px * var(--size));
}

@keyframes walk {
	0%, 20% {
		background-position-x: 0;
	}

	21%, 40% {
		background-position-x: calc(-16px * var(--size));
	}

	41%, 60% {
		background-position-x: calc(-32px * var(--size));
	}

	67%, 100% {
		background-position-x: calc(-48px * var(--size));
	}
}

.sprite.pnj {
	background-position-x: 0;
	animation: 0.3s infinite walkPNJ step-end alternate;
}
.sprite.pnj0 {
	background-position-y: calc(-32px * var(--size));
}
.sprite.pnj1 {
	background-position-y: calc(-48px * var(--size));
}
.sprite.pnj2 {
	background-position-y: calc(-64px * var(--size));
}

@keyframes walkPNJ {
	0%, 25% {
		background-position-x: calc(-16px * var(--size));
	}

	25%, 75% {
		background-position-x: 0;
	}

	75%, 100% {
		background-position-x: calc(-32px * var(--size));
	}
}

.sprite.ethernet {
	background-position: 0 calc(-80px * var(--size));
}
.sprite.wifi-router {
	background-position: calc(-16px * var(--size)) calc(-80px * var(--size));
}
.sprite.power {
	background-position: calc(-32px * var(--size)) calc(-80px * var(--size));
}
.sprite.key {
	background-position: calc(-48px * var(--size)) calc(-80px * var(--size));
}
.sprite.donut {
	background-position: calc(-64px * var(--size)) calc(-80px * var(--size));
}
.sprite.list {
	background-position: calc(-80px * var(--size)) calc(-80px * var(--size));
}
.sprite.item {
	transform: translatey(0px);
	animation: float 1s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}