:root {
	--size: 4;
}

.sprite {
	display: block;
	position: absolute;
	width: calc(16px * var(--size));
	height: calc(16px * var(--size));

	background-image: url(./assets/sprites.png); 
	background-repeat: no-repeat;
	background-size: calc(96px * var(--size)) calc(112px * var(--size));
	image-rendering: pixelated;
}

.sprite.wall1 {
	background-position: 0 0;
}
.sprite.ground {
	background-position: calc(-48px * var(--size)) 0;
}
.sprite.stair {
	background-position: calc(-32px * var(--size)) 0;
}
.sprite.substair {
	background-position: calc(-16px * var(--size)) 0;
}

.sprite.player {
	background-position: 0 calc(-16px * var(--size));
}
.sprite.player.falling {
	background-position: calc(-48px * var(--size)) calc(-16px * var(--size));
}
.sprite.player.walking-left, .sprite.player.walking-right {
	animation: 0.3s infinite walk step-end;

}

@keyframes walk {
	from {
		background-position-x: 0;
	}

	to {
		background-position-x: calc(-32px * var(--size));
	}

	33% {
		background-position-x: calc(-16px * var(--size));
	}

	66% {
		background-position-x: 0;
	}
}