.menu {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 250px;
  padding: 1rem;
  color: #fff;
  background-color: #78858C;

  &.open {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }
  &.close {
    display: block;
    animation: fadeOut 0.3s ease-in-out;
  }
}

.menu__title {
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #fff;
}
