.menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 250px;
  padding: 1rem;
  color: #fff;
  background-color: #78858C;
}

.menu__title {
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #fff;
}
