* {
  transform: translate3d(0,0,0);
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

header {
  color: white;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 150px;
  height: 15px;
  margin-top: 0.25rem;

  &::-webkit-progress-bar,
  &::-moz-progress-bar {
    background-color: #000;
  }
  &::-webkit-progress-value,
  &::-moz-progress-value {
    background-color: #009fe3;
  }
}

.game-container {
  height: 80%;
  width: 100%;

  position: absolute;
  top: 10%;
  left: 0px;

  background-color: white;
  overflow: hidden;
}

.game {
  display: block;
  position: absolute;
  width: 3500px;
  height: 1600px;
  overflow: hidden;
}

.talks {
  position: absolute;
  top: 90%;
  left: 0px;
  height: 10%;
  width: 100%;
  color: white;
  text-align: center;
}

.flip {
  transform: scaleX(-1);
}

.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
  font-size: 3em;
  text-align: center;
}
.start-screen .centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.you-are-dead {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
  font-size: 3em;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}
.you-are-dead .centered-content {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.you-are-dead.very-dead {
  display: block;
}

.you-win {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  font-size: 3em;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}
.you-win .centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.you-win.very-win {
  display: block;
}

.retry {
  border: 2px solid white;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.flash {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}
.flash::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 800px;
  background-image: url(./assets/sprites.png);
  background-repeat: no-repeat;
  background-size: calc(128px * 50) calc(112px * 50);
  image-rendering: pixelated;
  background-position-x: calc(-96px * 50);
  background-position-y: calc(-16px * 50);
  transform: translate(-50%, -50%);
}
body.flash-it .flash {
  opacity: 1;
}
